@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom styles if needed */
body {
  background-color: theme('colors.background-dark');
  color: theme('colors.text-dark');
}

/* Custom class to hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Ensure items are in a row for horizontal scrolling */
.whitespace-nowrap {
  white-space: nowrap;
}

